.element {
    width: 500px;
    height: auto;
    padding-left: 50px;
    margin-bottom: 20px;
    background-color: #E0E0E0;
    box-shadow: 10px 10px 5px rgb(102, 102, 102);
    border-radius: 5px;
}

#show_add_top{
  font-weight: bold;
}
#anouncePhoto {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    margin-top: 5px;
}

#anouncePhoto:hover{
    width: 460px;
    height: 340px;
}
.anounceDescription {
    margin-top: 2%;
    margin-left: 32%;
    border-radius: 5px;
    border-style: none;
    width: 310px;
    height: 75px;
    box-shadow: 10px 10px 5px #888888;
}
#anounceDescription {
    font-family: "Comic Sans MS";
    font-size: 24px;
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}

.button  {
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: 15%;
    width: 200px;
    height: 50px;
    color: black;
    font-family: inherit;
    font-size: 30px;
    border-radius: 10px;
    border-style: none;
}
