.container-login {
  width: 100%;
  min-height: 100vh;
  min-height: 100vh;
  background: #485e8e;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.wrap-login {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 50px;
  padding-top: 65px;
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.login-form {
  width: 100%;
}

.login-title {
  display: block;
  font-family: OpenSans-Regular;
  font-size: 30px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 33px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

form {
  display: block;
}

.login-title {
  display: block;
  font-family: OpenSans-Regular;
  font-size: 30px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}

.validate-input {
  position: relative;
}

.wrap-input {
  width: 100%;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}

input {
  outline: none;
  border: none;
}

input.input-login {
  height: 68px;
  padding: 0 25px 0 25px;
}

.input-login {
  display: block;
  width: 100%;
  background: transparent;
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
}

.container-login-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: #4272d7;
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}

.login-btn:hover {
  background-color: #333333;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}
