.text-login-bottom {
  text-align: center;
  padding-bottom: 4px;
  padding-bottom: 4px;
  text-align: center !important;
}

.simple-login-text {
  font-family: OpenSans-Regular;
  font-size: 15px;
  line-height: 1.4;
  color: #999999;
  box-sizing: border-box;
  text-decoration: none !important;
}

.custom-link {
  font-family: OpenSans-Regular;
  font-size: 15px;
  line-height: 1.4;
  color: #4272d7;
  margin: 0px;
  background-color: transparent;
}
